<template lang="pug">
section.layout
  b-navbar(shadow)
    template(slot="brand")
      b-navbar-item(tag="nuxt-link" to="/")
        strong WK
        span extra
    template(slot="start")
      b-navbar-item(tag="nuxt-link" to="/random") Random
      b-navbar-item(tag="nuxt-link" to="/quiz") Quiz
      b-navbar-item(tag="nuxt-link" to="/character") Character
      b-navbar-dropdown(label="Vocab" hoverable)
        b-navbar-item(tag="nuxt-link" to="/jadict") Japanese
        b-navbar-item(tag="nuxt-link" to="/zhdict") Chinese
      b-navbar-item(tag="nuxt-link" to="/library") Library
      b-navbar-item(tag="nuxt-link" to="/extra") Extra
      b-navbar-item(tag="nuxt-link" to="/settings") Settings
    template(slot="end" v-if="user")
      b-navbar-item(tag="div") Signed in as {{user.email}}
      b-navbar-item(tag="div")
        b-button(v-if="user" type="is-danger" @click="doLogout") Logout
  b-loading(v-if="!isAuthInit" active :can-cancel="false")
  nuxt(v-else)
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component
export default class AppLayout extends Vue {
  get user() {
    return this.$store.state.settings.user
  }

  get isAuthInit() {
    return this.$store.state.settings.isAuthInit
  }

  doLogout() {
    this.$fireAuth.signOut()
  }
}
</script>
